In [1]:
import sys
import os

# Add the project root directory to sys.path
sys.path.append(os.path.abspath(os.path.join('..')))

In [2]:
from scripts.customer_behaviour import CustomerBehaviour

In [3]:
analysis = CustomerBehaviour('../data/store.csv', '../data/train.csv', '../data/test.csv')

'Data loaded successfully'

In [4]:
analysis.merge_data()

'Data merged successfully'

In [5]:
analysis.clean_data()

'---Train Merged Data---'

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

                           Missing Values  Percentage(%)
Store                                   0       0.000000
DayOfWeek                               0       0.000000
Date                                    0       0.000000
Sales                                   0       0.000000
Customers                               0       0.000000
Open                                    0       0.000000
Promo                                   0       0.000000
StateHoliday                            0       0.000000
SchoolHoliday                           0       0.000000
StoreType                               0       0.000000
Assortment                              0       0.000000
CompetitionDistance                  2642       0.259730
CompetitionOpenSinceMonth          323348      31.787764
CompetitionOpenSinceYear           323348      31.787764
Promo2                                  0       0.000000
Promo2SinceWeek                    508031      49.943620
Promo2SinceYear                    508031      49.943620
PromoInterval                      508031      49.943620

'Number of outliers in Store: 0'

'Number of outliers in DayOfWeek: 0'

'Number of outliers in Sales: 9731'

'Number of outliers in Customers: 14148'

'Number of outliers in Open: 0'

'Number of outliers in Promo: 0'

'Number of outliers in SchoolHoliday: 0'

'Number of outliers in CompetitionDistance: 20724'

'Number of outliers in CompetitionOpenSinceMonth: 0'

'Number of outliers in CompetitionOpenSinceYear: 6410'

'Number of outliers in Promo2: 0'

'Number of outliers in Promo2SinceWeek: 0'

'Number of outliers in Promo2SinceYear: 0'

'Remaining Missing Values After Cleaning:'

Empty DataFrame
Columns: [Missing Values, Percentage(%)]
Index: []

'---Test Merged Data---'

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,3,4,2015-09-17,1.0,1,0,0,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,3,7,4,2015-09-17,1.0,1,0,0,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
3,4,8,4,2015-09-17,1.0,1,0,0,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
4,5,9,4,2015-09-17,1.0,1,0,0,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN

                           Missing Values  Percentage(%)
Id                                      0       0.000000
Store                                   0       0.000000
DayOfWeek                               0       0.000000
Date                                    0       0.000000
Open                                   11       0.026772
Promo                                   0       0.000000
StateHoliday                            0       0.000000
SchoolHoliday                           0       0.000000
StoreType                               0       0.000000
Assortment                              0       0.000000
CompetitionDistance                    96       0.233645
CompetitionOpenSinceMonth           15216      37.032710
CompetitionOpenSinceYear            15216      37.032710
Promo2                                  0       0.000000
Promo2SinceWeek                     17232      41.939252
Promo2SinceYear                     17232      41.939252
PromoInterval                       17232      41.939252

'Number of outliers in Id: 0'

'Number of outliers in Store: 0'

'Number of outliers in DayOfWeek: 0'

'Number of outliers in Open: 0'

'Number of outliers in Promo: 0'

'Number of outliers in SchoolHoliday: 0'

'Number of outliers in CompetitionDistance: 768'

'Number of outliers in CompetitionOpenSinceMonth: 0'

'Number of outliers in CompetitionOpenSinceYear: 96'

'Number of outliers in Promo2: 0'

'Number of outliers in Promo2SinceWeek: 0'

'Number of outliers in Promo2SinceYear: 0'

'Remaining Missing Values After Cleaning:'

Empty DataFrame
Columns: [Missing Values, Percentage(%)]
Index: []

'Data cleaned successfully.'